# gitconfig
        AppData/
        Application Data/
        ConnectApp/
        Contacts/
        Cookies/
        Covid19-Dashboard-main/
        Creative Cloud Files/
        Documents/
        Downloads/
        Favorites/
        IntelGraphicsProfiles/
        Links/
        Local Settings/
        Music/
        My Documents/
